@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

.attribution {
  padding-top: 2px;
  font-size: 11px;
  text-align: center;
  background: #f4f4fc;
  color: black;

  height: 20px;
  font-weight: 300;
}

.attribution a {
  color: #8467d3;
  text-decoration: none;
}

.container {
  height: calc(100% - 20px);
  display: flex;
  flex-direction: row;
}

.container .left-div {
  flex: 1;
  background-color: white;
}

.left-div .curve {
  position: absolute;
  bottom: 0;
  width: 40vw;
}

.left-div .quotes {
  position: absolute;
  left: 15%;
  top: 25%;
}

.left-div .description-info {
  position: absolute;
  z-index: 2;

  height: 50vh;
  width: 50vw;

  top: 35%;
  left: 11%;
}

@media (max-width: 1075px) {
  .left-div .description-info {
    width: 45vw;
  }
}

.left-div #description {
  /* font-size: 37px; */

  color: hsl(240, 38%, 20%);
  font-size: 2.5vw;
  font-weight: 300;
}

.left-div .personal {
  margin-top: 30px;
  color: hsl(240, 38%, 20%);

  display: flex;
  flex-direction: row;
}

.personal #name,
#job {
  font-size: 20px;
  font-weight: 700;
  margin-right: 5px;
}

.personal #job {
  color: hsl(240, 18%, 77%);
  font-weight: 500;
}

.container-right {
  height: 100%;
  width: 47vw;
  position: relative;
}

.container-right .right-div {
  flex: 1;
  background-color: white;
}

.right-div .pattern {
  width: 80vh;

  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -40%);
}

.container-pic-size {
  position: absolute;
  top: 50%;
  left: 47%;
  transform: translate(-50%, -50%);

  width: 500px;
  height: 500px;

  display: inline-block;
}

.right-div #profile {
  position: absolute;
  z-index: 1;

  width: 500px;
  height: auto;

  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);

  box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.15);
}

.arrows {
  width: 100px;
  height: 50px;
  background-color: white;
  border: 1px solid #ebebeb;

  position: absolute;
  bottom: 0;
  left: 0;

  margin-bottom: -25px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  border-radius: 50px;

  z-index: 4;
  box-shadow: 0 2.5px 5px 2.5px rgba(0, 0, 0, 0.1);
}

/* Because you can't press previous */
#arrow-left {
  background-color: #ebebeb;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

#arrow-left,
#arrow-right {
  padding-left: 19px;
  padding-right: 19px;

  padding-top: 16px;
  padding-bottom: 16px;

  cursor: pointer;
}

#arrow-left:hover,
#arrow-right:hover {
  background: #ebebeb;
}

#arrow-left:hover {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

#arrow-right:hover {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

@media (max-width: 1050px) {
  .container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .left-div .curve {
    left: 0;
    width: 250px;
  }

  .left-div .quotes {
    position: absolute;
    width: 60px;
    left: 43%;
    top: 50%;
  }

  .left-div .description-info {
    height: 50vh;
    width: 80vw;

    top: 55%;
    left: 10%;
  }

  .left-div #description {
    /* font-size: 37px; */
    font-size: 18px;
    font-weight: 300;

    text-align: center;
  }

  .left-div .personal {
    margin-top: 25px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
  }

  .personal #name,
  #job {
    font-size: 16px;
  }

  .personal #job {
    color: #dddbe5;
    font-weight: 500;
  }

  .right-div .pattern {
    width: 40vh;

    position: absolute;
    top: 180px;
    left: 50%;
  }

  .container-pic-size {
    margin-top: 20vh;
    position: absolute;
    top: -100%;
    left: 50%;

    width: 220px;
    height: 220px;

    display: inline-block;
  }

  .right-div #profile {
    position: absolute;
    z-index: 1;

    width: 220px;
    height: auto;

    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .arrows {
    width: 100px;
    height: 50px;
    background-color: white;
    border: 1px solid #ebebeb;

    position: absolute;
    bottom: 0;
    left: 30%;

    margin-bottom: -55px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    border-radius: 50px;

    z-index: 4;
  }
}
