.header {
  display: flex;
  padding: 5vh;

  justify-content: space-between;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 20vh;

  z-index: -1;
  margin-bottom: -100px;
}

.header__dark {
  background-color: #20222f;
}

.header__light {
  background-color: #f8f9fe;
}

.header__description {
  display: flex;
  flex-direction: column;
}

.header__title {
  font-size: 25px;
}

.header__titleDark {
  color: white;
}

.header__titleLight {
  color: black;
}

.header__followers {
  font-size: 13px;
  font-weight: 600;
  color: #888cb0;
}

/* Mobile */
@media (max-width: 550px) {
  .header {
    flex-direction: column;
  }

  .header__descriptionDark {
    padding-bottom: 3vh;
    border-bottom: 1px solid #383a49;
  }

  .header__descriptionLight {
    padding-bottom: 3vh;
    border-bottom: 1px solid #9799b6;
  }

  .header__title {
    font-size: 1.2em;
  }
}
