.description {
  height: 100vh;
  width: 100vw;
  padding-left: 20vh;
  padding-right: 20vh;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
}

.description:after {
  content: "";
  position: absolute;
  width: 100%;

  left: -20px;
  right: 0;
  top: -300px;
  height: 100%;
  background-image: url("../../assets/bg-pattern-intro-left-desktop.svg");
  background-repeat: no-repeat;
  background-position: top 0 left;
}

.description__header > h3 {
  font-family: "DM Serif Display", serif;
  font-size: 4.3em;
  font-weight: 400;
  color: #3c393e;
  margin-bottom: -5vh;
}

.description__line {
  border-top: 2px solid #b7b4bd;
  width: 10vw;
  margin-bottom: 5vh;
}

.description__cards {
  display: flex;
}

@media (max-width: 1200px) {
  .description {
    padding-left: 10vh;
    padding-right: 10vh;
  }
}

@media (max-width: 500px) {
  .description {
    padding-right: 5vh;
    padding-left: 5vh;
  }
}

@media (max-width: 771px) {
  .description {
    height: 100%;
    width: 85%;
    padding-top: 20vh;
    padding-bottom: 20vh;

    padding-left: 5vh;
    /* padding-right: -10vh; */
    align-items: center;
    position: relative;
  }

  .description:after {
    position: absolute;
    left: 0;
    right: 0;
    top: -150px;
    height: 100%;
    background-image: url("../../assets/bg-pattern-intro-right-mobile.svg");
    background-repeat: no-repeat;
    background-position: top right;
  }

  .description__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .description__line {
    border-top: 2px solid #b7b4bd;
    width: 80%;
    margin-bottom: 5vh;
  }

  .description__header > h3 {
    font-size: 3.2em;
    font-weight: 400;
    color: #3c393e;
    margin-bottom: 5vh;
  }

  .description__cards {
    display: flex;
    flex-direction: column;
  }
}
