.card {
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  box-shadow: 0px 5px 10px 0px hsl(0, 1%, 72%);
}

.card.icon {
  background-image: url("../../assets/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: 90% 0;
}

.card.medium {
  width: 440px;
  height: 210px;
}

.card.small {
  height: 210px;
  width: 190px;
}

.card.long {
  height: 490px;
  width: 190px;
}

.card.backgroundBlue {
  background-color: #733fc8;
}

.card.backgroundBlue .card__name > p:first-child,
.card.backgroundBlue .card__description,
.card.backgroundDarkGray .card__name > p:first-child,
.card.backgroundDarkGray .card__description,
.card.backgroundGray .card__name > p:first-child,
.card.backgroundGray .card__description {
  color: hsl(0, 0%, 100%);
}

.card.backgroundDarkGray {
  background-color: #19212e;
}

.card.backgroundGray {
  background-color: #49556b;
}

.card.backgroundWhite {
  background-color: #ffffff;
}

.card.backgroundWhite .card__name > p:last-child,
.card.backgroundWhite .card__quote {
  color: hsl(0, 0%, 67%);
}

.card.backgroundWhite .card__name > p:first-child,
.card.backgroundWhite .card__description {
  color: hsl(219, 29%, 14%);
}

.card__personalInfo {
  display: flex;
  align-items: center;
}

.card__personalInfo > img {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  margin-right: 20px;
}

.card__name > p:first-child {
  font-size: 13px;
}

.card__name > p:last-child {
  font-size: 11px;
  color: hsl(0, 0%, 81%);
}

.card__description {
  font-size: 16px;
  font-weight: 700;
}

.card__quote {
  font-size: 13px;
  color: hsl(0, 0%, 81%);
}

@media (max-width: 1001px) {
  .card:nth-child(5n + 1) {
    grid-row-start: 1 !important;
    grid-row-end: 2 !important;

    grid-column-start: 1 !important;
    grid-column-end: 2 !important;

    align-self: center !important;
  }

  .card:nth-child(5n + 2) {
    grid-row-start: 2 !important;
    grid-row-end: 4 !important;

    grid-column-start: 1 !important;
    grid-column-end: 2 !important;

    /* align: -> up bottom */
    /* justify: -> left right */

    align-self: flex-start !important;
    justify-self: flex-end !important;
  }

  .card:nth-child(5n + 3) {
    grid-row-start: 2 !important;
    grid-row-end: 4 !important;

    grid-column-start: 1 !important;
    grid-column-end: 2 !important;

    align-self: center !important;
  }

  .card:nth-child(5n + 4) {
    grid-row-start: 3 !important;
    grid-row-end: 4 !important;

    grid-column-start: 1 !important;
    grid-column-end: 2 !important;

    align-self: flex-end !important;
    justify-self: flex-end !important;
  }

  .card:nth-child(5n + 5) {
    grid-row-start: 4 !important;
    grid-row-end: 5 !important;

    grid-column-start: 1 !important;
    grid-column-end: 2 !important;

    align-self: center !important;
  }
}

@media (max-width: 501px) {
  .card.medium {
    width: 70vw;
    height: 310px;
  }

  .card.small {
    height: 160px;
    width: 70vw;
  }

  .card.long {
    height: 400px;
    width: 70vw;
  }

  .card:nth-child(5n + 1) {
    grid-row-start: unset !important;
    grid-row-end: unset !important;

    grid-column-start: unset !important;
    grid-column-end: unset !important;

    align-self: center !important;
    justify-self: center !important;
  }

  .card:nth-child(5n + 2) {
    grid-row-start: unset !important;
    grid-row-end: unset !important;

    grid-column-start: unset !important;
    grid-column-end: unset !important;

    /* align: -> up bottom */
    /* justify: -> left right */

    align-self: center !important;
    justify-self: center !important;
  }

  .card:nth-child(5n + 3) {
    grid-row-start: unset !important;
    grid-row-end: unset !important;

    grid-column-start: unset !important;
    grid-column-end: unset !important;

    align-self: center !important;
    justify-self: center !important;
  }

  .card:nth-child(5n + 4) {
    grid-row-start: unset !important;
    grid-row-end: unset !important;

    grid-column-start: unset !important;
    grid-column-end: unset !important;

    align-self: center !important;
    justify-self: center !important;
  }

  .card:nth-child(5n + 5) {
    grid-row-start: unset !important;
    grid-row-end: unset !important;

    grid-column-start: unset !important;
    grid-column-end: unset !important;

    align-self: center !important;
    justify-self: center !important;
  }
}

.card:nth-child(5n + 1) {
  grid-row-start: 1;
  grid-row-end: 2;

  grid-column-start: 1;
  grid-column-end: 3;

  align-self: flex-end;
}

.card:nth-child(5n + 2) {
  grid-row-start: 1;
  grid-row-end: 2;

  grid-column-start: 3;
  grid-column-end: 4;

  align-self: flex-end;
}

.card:nth-child(5n + 3) {
  grid-row-start: 1;
  grid-row-end: 3;

  grid-column-start: 4;
  grid-column-end: 5;

  align-self: center;
}

.card:nth-child(5n + 4) {
  grid-row-start: 2;
  grid-row-end: 3;

  grid-column-start: 1;
  grid-column-end: 2;

  align-self: flex-start;
}

.card:nth-child(5n + 5) {
  grid-row-start: 2;
  grid-row-end: 3;

  grid-column-start: 2;
  grid-column-end: 4;

  align-self: flex-start;
}
