.banner {
  color: white;

  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}

.banner:after {
  content: "";
  position: absolute;

  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  background-image: url("../../assets/bg-pattern-intro-right-desktop.svg");
  background-repeat: no-repeat;
  background-position: top -80px right;
}

.banner__info {
  padding-left: 20vh;
  padding-right: 19vh;
  display: flex;
  flex-direction: row;
  background-color: hsl(256, 26%, 20%);

  height: 85%;
  width: 100vw;
  align-items: center;
}

.banner__info > img {
  display: block;
  padding-top: 30vh;
  padding-right: 1vh;
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.banner__description {
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 50%;
}

.banner__description > p {
  padding-top: 2vh;
  padding-right: 15vh;
  font-weight: 700;
  font-family: "Karla", serif;
  color: #b7b4bd;
  font-size: 15px;
  line-height: 25px;
}

.banner__description > p:last-child {
  margin-top: 3vh;
  font-size: 14px;
  color: #b7b4bd;
  font-weight: 700;
  letter-spacing: 1px;

  padding: 8px;
  padding-left: 30px;
  padding-right: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #b7b4bd;
  width: 100px;
  border: 3px solid #b7b4bd;
  cursor: pointer;

  z-index: 100;
}

.banner__description > p:last-child:hover {
  color: black;
  background-color: #b7b4bd;
}

.banner__line {
  border-top: 2px solid #b7b4bd;
  margin-bottom: 5vh;
  margin-top: 1vh;
  width: 3vw;
}

.banner__description h3 {
  font-family: "DM Serif Display", serif;
  font-size: 4.5em;
  margin-right: 15vh;
  line-height: 70px;
}

@media (max-width: 1200px) {
  .banner__description h3 {
    font-size: 3.5em;
  }

  .banner__info {
    padding-left: 10vh;
    padding-right: 10vh;
  }

  .banner__description > p {
    padding-right: 10vh;
  }
}

@media (max-width: 771px) {
  .banner {
    height: 100%;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }

  .banner:after {
    background-image: none;
  }

  .banner__info {
    position: relative;
  }

  .banner__info:after {
    content: "";
    position: absolute;

    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    background-image: url("../../assets/bg-pattern-intro-left-mobile.svg");
    background-repeat: no-repeat;
    background-position: top left;
  }

  .banner__description {
    max-width: 100%;
  }

  .banner__description h3 {
    font-size: 10vw;
    text-align: center;
    line-height: 60px;
  }

  .banner__info {
    padding-left: 5vh;
    padding-right: 5vh;
    height: 100vh;
    width: 100vw;
    align-items: center;
    text-align: center;
  }

  .banner__description {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .banner__description > p {
    font-size: 1em;
  }

  .banner__line {
    display: none;
  }

  .banner__description > p:last-child {
    margin-top: 5vh;
    margin-left: -20%;
    font-size: 2vw;
  }
}
