.switchSlider {
  padding-left: 10px;
  padding-right: 10px;
}

/* The switch - the box around the slider */
.switchSlider__switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 25px;
}

/* Hide default HTML checkbox */
.switchSlider__switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.switchSlider__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-image: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switchSlider__slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:hover + .switchSlider__slider {
  background-image: linear-gradient(to right, #cbcdf0, #cbcdf0);
}

input:checked + .switchSlider__slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.switchSlider__slider.round {
  border-radius: 25px;
}

.switchSlider__slider.round:before {
  border-radius: 50%;
}
