.app {
  height: 100vh;
  width: 100vw;
  background-color: #1ba1ad;
  background-image: url("../src/assets/bg-pattern-top.svg"),
    url("../src/assets/bg-pattern-bottom.svg");
  background-position: -50% 220%, 140% -160%;
  background-repeat: no-repeat, no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}
