@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: "Raleway", sans-serif;
    background: #0c122c;

    
    background-image: url("images/bg-desktop.png");
    background-repeat: no-repeat;
    background-size: 100vw 60vh;

    /* background-position: center bottom; */
    /* background-position: 0px 340px; */
    background-position: 0% 120%;
    
}

.attribution {
    padding-top: 3px;
    font-size: 11px;
    text-align: center;
    background: #1D2C67;
    color: white;
    height: 20px;
}

.attribution a {
    color: #DDDBFF;
    text-decoration: none;
}

.wrapper {
    /* To center it  */
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 70vw;
    height: 30vh;

    background-position: 100% 0;
    background-size:50%;
    background-repeat:no-repeat;

    display: flex;
    flex-direction: row;
    
    justify-content: space-between;

    /* Center vertically  */
    /* align-items: center; */
}

.wrapper .left {
    border-top-right-radius: 100px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    /* min-width: 350px; */
    width: 27vw;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 50px;

    background: #1D2C67;
}

.wrapper .left .icon-wrapper {
    display: flex;
    flex-direction: row;

    justify-content: start;
}

.icon-wrapper .icon1, .icon2, .icon3 {

    margin-right: 10px;

    background: #0C122C;
    border-radius: 5px;
    width: 50px; 
    height: 55px;

    display: flex; 
    justify-content: center;
    align-items: center;
    align-self: flex-start;
}

.iconc {
    width: 40px;
}

.icon-wrapper .icona, .iconb, .iconc {
    display: block;
    box-sizing: border-box;
    text-align: center;
    padding: 5px;    
}

.icon-wrapper .icona, .iconb, .iconc {
    cursor: pointer;
}

.wrapper .right {
    font-size: 14px;
    color: #c1c4d4;
    border-radius: 10px;
    /* width: 580px; */
    width: 40vw;
    height: 70%;

    position: absolute;
    bottom: 0px;
    right: 0px;

    padding-left: 50px;
    padding-right: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background:  #1D2C67;
}

.wrapper .right .remainder-gb {

    /* Align text in center */
    display: flex;
    justify-content: center; 
    align-items: center;

    /* position: absolute; */
    border-radius: 6px;

    width: 160px;
    height: 60px;
    background: white;

    /* margin-top: -160px; */
    
    right: 50px;
    font-weight: 700;
    font-size: 12px;

    position: absolute;
    left: 73%;
    top: 0px;
    margin-top: -35px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);

}

.wrapper .right .remainder-gb:before {
    content: "";
    position: absolute;

    right: 0px;
    bottom: -22px;
    border-top: 27px solid white;
    border-left: 27px solid transparent;

}

/* .wrapper .right .triangle {

    position: absolute;
    right: 50px;
    margin-top: -85px;

    width: 0;
    height: 0;
    border-top: 27px solid white;
    border-left: 27px solid transparent;

} */

.wrapper .right .remainder-gb .value {
    font-size: 30px;
    font-weight: 700;
    color: black;
}

.wrapper .right .remainder-gb .text {
    color: grey;
}

.wrapper .right .remainder-gb .text {
    /* To align the "gb left" in center */
    vertical-align: super;
}

.field .value-left, .value-right {
    color: white;
    font-weight: 700;
}

.slider-value span {
    color: white;
    font-weight: 700;
}


.right input {
    width: 100%;
    background: #0c122c;
    -webkit-appearance: none;
    border-radius: 10px;
    border: 2px solid #0c122c;
    outline: none;
    overflow: hidden;
    background: linear-gradient(to right, hsl(6, 100%, 80%) 0%, hsl(335, 100%, 65%) 80%, #0c122c 80%, #0c122c 100%);
    
}

/*Styling the thumb */ 
/* Chrome */
.right input::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
    border: 1px solid #664AFF;
    cursor: pointer;
}

/* Mozilla */
.right input::-moz-range-thumb{
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: white;
  border: 1px solid #664AFF;
  cursor: pointer;
}
/*End of Styling the thumb */

.field .values {
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.slider-value .text {
    padding-bottom: 10px;
}

/* Media for Middle Size Screens */
@media(max-width: 1283px) {
    .wrapper .left {
        height: 100%;
        width: 47%;
    }

    .wrapper .right {
        width: 47%;
    }
}

@media(max-width: 1100px){
    .wrapper {
    width: 90vw;
    height: 30vh;
    }
}

@media(max-width: 890px){

    .icon-wrapper .icon1, .icon2, .icon3{
        width: 43px;
        height: 45px;
    }

    .wrapper {
        width: 70vw;
        height: 70vh;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .wrapper .left {
        height: 35vh;
        width: 70vw;
    }

    .wrapper .right {
        width: 70vw;
        height: 30vh;
    }

}

@media (max-width: 729px) {

    .icon-wrapper .icon1, .icon2, .icon3{
        width: 43px;
        height: 45px;
    }

    .wrapper {
        width: 80vw;
        height: 60vh;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .wrapper .left {
        height: 33vh;
        width: 80vw;
    }

    .wrapper .right {
        height: 25vh;
        width: 80vw;
        
        position: relative;
    }

    .wrapper .right .remainder-gb {
        position: absolute;
        left: 50%;
        bottom: 0px;
        margin-bottom: -30px;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);

        max-width: 160px;
        width: 35vw;
        min-width: 115px;

    }

    .wrapper .right .triangle {
        display: none;
    }

}

@media(max-width: 500px)
{
    html, body {
        background-image: url("images/bg-mobile.png");
        background-repeat: no-repeat;
    
        background-size: auto;
        background-size: 100vw 100vh;

        /* background-position: center bottom; */
        /* background-position: 0px 340px; */
        
    }
}

@media (max-width: 437px)
{

    .icon-wrapper .icon1, .icon2, .icon3{
        width: 43px;
        height: 45px;
    }

    html, body {
        background-image: url("images/bg-mobile.png");
        background-repeat: no-repeat;
    
        background-size: auto;
        background-size: 100vw 100vh;

        /* background-position: center bottom; */
        /* background-position: 0px 340px; */
        
    }

    .wrapper .left {
        padding-left: 30px;
    }

    .wrapper .right {
        padding-left: 30px;
        padding-right: 30px;
    }

}

@media(max-width: 380px){

    .icon-wrapper .icon1, .icon2, .icon3{
        width: 40px;
        height: 40px;
        margin-left: 8px;
    }

    .icon-wrapper .icona, .iconb {
        width: 28px;
    }

    .icon-wrapper .iconc {
        width: 33px;
    }

    .wrapper {
        width: 80vw;
        height: 55vh;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .wrapper .left {
        height: 28vh;
        width: 80vw;
        padding-left: 30px;
    }

    .wrapper .right {
        height: 25vh;
        width: 80vw;
        padding-left: 30px;
        padding-right: 30px;
    }


    html, body {
        background-image: url("images/bg-mobile.png");
        background-repeat: no-repeat;
    
        background-size: auto;

        /* background-position: center bottom; */
        /* background-position: 0px 340px; */
        
    }

    .slider-value .text {
        font-size: 12px;
    }
    
    .field .values {
        font-size: 12px;
    }
}

@media(max-width: 330px) {



    .wrapper .right .remainder-gb {
        margin-bottom: -16px;

        max-width: 160px;
        width: 35vw;
        min-width: 130px;

        max-height: 60px;
        height: 10vw;
        min-height: 40px;
    }

    .wrapper .right .remainder-gb .value {
        font-size: 25px;
        font-weight: 700;
        color: black;
    }
}

@media(max-width: 280px) {

    .icon-wrapper .icon1, .icon2, .icon3{
        width: 33px;
        height: 33px;
        margin-right: 1px;
    }

    .icon-wrapper .icona, .iconb {
        width: 25px;
    }

    .icon-wrapper .iconc {
        width: 30px;
    }


    .title-wrapper .title {
        width: 50vw;
    }

    .icon-wrapper .icon1, .icon2, .icon3{
        width: 28px;
        height: 30px;
    }

    .icon-wrapper .icona, .iconb {
        width: 25px;
    }

    .icon-wrapper .iconc {
        width: 30px;
    }

    .wrapper .right .remainder-gb {
        margin-bottom: -16px;

        max-width: 160px;
        width: 35vw;
        min-width: 130px;

        max-height: 60px;
        height: 10vw;
        min-height: 40px;
    }

    .wrapper .left {
        padding-left: 20px;
    }

    .wrapper .right {
        padding-left: 20px;
    }
}

@media(max-width: 153px) {

    .wrapper .right .remainder-gb {
        margin-bottom: -16px;

        max-width: 130px;
        width: 35vw;
        min-width: 100px;

        max-height: 60px;
        height: 10vw;
        min-height: 40px;
    }

    .wrapper .left {
        padding-left: 5px;
    }

    .wrapper .right {
        padding-left: 5px;
    }

    .icon-wrapper .icon1, .icon2, .icon3{
        width: 4vh;
        height: 5vh;
        margin-right: 4px;
    }

    .icon-wrapper .icona, .iconb {
        width: 23px;
    }

    .icon-wrapper .iconc {
        width: 25px;
    }
}