.app {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;

  background: url("./assets/bg-top.svg") top right no-repeat,
    url("./assets/bg-bottom.svg") bottom left no-repeat, #f7f7ff;
}

.app__title > .app__options {
  display: flex;
  justify-content: center;
  align-items: center;

  color: hsl(234, 14%, 74%);
  padding-bottom: 7vh;
  font-size: 13px;
}

.app__title > h2 {
  padding-bottom: 3vh;
  font-size: 30px;
  color: hsl(233, 13%, 49%);
}

.app__cards {
  display: flex;
  align-items: center;
}

@media (max-width: 1025px) {
  .app {
    height: 100%;
    padding-top: 7vh;
    padding-bottom: 7vh;
  }

  .app__cards {
    flex-direction: column;
  }
}

@media (max-width: 376px) {
  .app {
    background-color: #f7f7ff;
    background-image: url("./assets/bg-top.svg");
    background-position: 330% 0%;
    background-size: 80%;
    background-repeat: no-repeat;
  }
}
