.overviewCard {
  min-width: 260px;
  min-height: 120px;

  width: 20%;
  height: 10vh;

  margin-bottom: 13px;
  margin-right: 10px;

  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
}

.overviewCard__dark {
  background-color: #252b43;
}

.overviewCard__dark:hover {
  background-color: #343a55;
}

.overviewCard__light {
  background-color: #f0f3fa;
}

.overviewCard__light:hover {
  background-color: #dadce0;
}

@media (max-width: 551px) {
  .overviewCard {
    width: 85vw;
    margin-right: 0px;
    margin-bottom: 15px;
  }
}

.overviewCard__top,
.overviewCard__bottom {
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
}

.overviewCard__bottom {
  align-items: flex-end;
}

.overviewCard__countDark {
  color: white;
}

.overviewCard__countLight {
  color: black;
}

.overviewCard__top > p {
  color: #888cb0;
  font-size: 13px;
  font-weight: 600;
}

.overviewCard__percent {
  display: flex;
}

.overviewCard__percent img {
  object-fit: contain;
  margin-right: 5px;
}

.overviewCard__percent p {
  font-size: 13px;
  font-weight: 600;
}

.overviewCard__percentGreen {
  color: #1eb589;
}

.overviewCard__percentRed {
  color: #dc414c;
}
