.reviews {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Tablet */
@media (max-width: 1200px) {
  .reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
