.description {
  display: flex;
  padding-top: 15vh;
  padding-bottom: 10vh;
  justify-content: center;

  /* justify-content: space-evenly; */
}

.description__left {
  width: 20vw;
  min-width: 400px;
  padding-right: 100px;
}

.description__left > h1 {
  color: #4e244f;
  font-size: 40px;
}

.description__left > p {
  padding-top: 10px;
  color: hsl(303, 10%, 53%);
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
}

/* Tablet */
@media (max-width: 1200px) {
  .description {
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;
    padding-bottom: 5vh;
  }

  .description__left {
    width: 20vw;
    min-width: 500px;
    padding-right: 0px;
    padding-bottom: 50px;
  }
}

/* Mobile */
@media (max-width: 551px) {
  .description {
    text-align: center;
  }

  .description__left > h1 {
    font-size: 35px;
  }

  .description__left {
    min-width: 350px;
  }

  .description__left > p {
    text-align: center;
  }
}
