@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Karla", serif;
  font-weight: 700;

  padding-left: 20vh;
  padding-right: 20vh;
  padding-bottom: 2vh !important;
}

.header__open {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Karla", serif;
  font-weight: 700;

  padding-left: 10vh;
  padding-right: 10vh;
  padding-bottom: 95vh;

  position: relative;
  pointer-events: all;
}

.header__linksOpen {
  position: absolute;
  top: 50px;
  left: 0;

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color: hsl(270, 9%, 17%);
  background-image: url("../../assets/bg-pattern-mobile-nav.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;

  pointer-events: all;
}

.header__linksOpen > p {
  padding-top: 5vh;
  color: white;
  letter-spacing: 1px;
  cursor: pointer;
}

.header__linksOpen > p:hover {
  color: black;
}

.header__linksOpen > p:last-child {
  margin-top: 5vh;

  padding: 10px;
  width: 90%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  border: 3px solid white;
}
.header__linksOpen > p:last-child:hover {
  color: black;
  background-color: white;
  border: 3px solid black;
}

.header > img {
  object-fit: contain;
  width: 120px;
}

.header__open > img {
  object-fit: contain;
  width: 120px;
}

.header > .header__menu {
  width: 30px !important;
  cursor: pointer;
  pointer-events: all;
}

.header__menuOpen > .header__menu {
  width: 30px !important;
  cursor: pointer;
  pointer-events: all;
}

.header__links {
  display: flex;
  align-items: center;
}

.header__links > p {
  margin-right: 2vw;
  font-size: 14px;
  color: #98969c;
  letter-spacing: 1px;
  cursor: pointer;
  z-index: 1000;
}

.header__links > p:hover {
  color: black;
}

.header__links > p:last-child {
  width: 100px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: black;
  border: 3px solid black;
}

.header__links > p:last-child:hover {
  background-color: black;
  color: white;
}

@media (max-width: 1000px) {
  .header {
    padding-left: 5vh;
    padding-right: 5vh;
  }

  .header__open {
    padding-left: 5vh;
    padding-right: 5vh;
  }
}

@media (max-width: 1200px) {
  .header {
    padding-left: 10vh;
    padding-right: 10vh;
  }

  .header__open {
    padding-left: 10vh;
    padding-right: 10vh;
  }
}
