@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

/* Setting the colour scheme */
:root {
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --ligher-grayish-blue: hsl(212, 27%, 81%);
    --light-grayish-blue: hsl(210, 46%, 95%);

    --attribution-text: hsl(208, 43%, 86%);
    --attribution: hsl(215, 22%, 64%);
    --attribution-a: hsl(217, 62%, 95%);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background: var(--light-grayish-blue);
    /* For IE */
    background: hsl(210, 46%, 95%);
    font-family: 'Manrope', sans-serif;
}


.attribution {
    padding-top: 2px;
    font-size: 11px;
    text-align: center;
    background: var(--attribution);
    color: var(--attribution-text);

    /* For IE */
    background: hsl(215, 22%, 64%);
    color: hsl(208, 43%, 86%);

    height: 20px;

}

.attribution a {
    color: var(--attribution-a);
    color: hsl(217, 62%, 95%);
    text-decoration: none;
}

/* Desktop Version */
.wrapper {
    background: white;

    /* Place the div in the center of the screen */
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    width: 740px;
    height: 270px;

    border-radius: 10px;

    display: flex;
    flex-direction: row;

    /* Right - Bottom - Blur */
    box-shadow: 1px 10px 30px var(--ligher-grayish-blue);
    box-shadow: 1px 10px 30px hsl(212, 27%, 81%);
}

.wrapper .left {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;

    flex: 4;
    
    overflow: hidden;
}

.wrapper .left #drawers-pic { 
    max-height: 100%;
    margin-right: 0px;
}

.wrapper .right {

    background: white;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;

    flex: 5;

    display: flex;
    flex-direction: column;

    margin-left: 45px;
    margin-right: 45px;
    margin-top: 30px;
}

.wrapper .right .header {
    color: var(--very-dark-grayish-blue);
    color: hsl(217, 19%, 35%);
    font-size: 22px;
    font-weight: 700;

    margin-bottom: 10px;
}

.wrapper .right .description { 
    color: var(--desaturated-dark-blue);
    color: hsl(214, 17%, 51%);
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;

    overflow-y: scroll;

}

/* Hide scrollbar for Chrome, Safari and Opera */
.wrapper .right .description::-webkit-scrollbar {
    display: none;
}

.wrapper .right .description {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.wrapper .right footer {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

footer #michelle-avatar {
    width: 45px;
    border-radius: 50px;

    margin-right: 15px;
}

footer .footer-info {
    display: flex;
    flex-direction: row;

    align-items: center;
    margin-top: 15px;
}


.details-michelle .footer-header {
    color: var(--very-dark-grayish-blue);
    color: hsl(217, 19%, 35%);
    font-size: 13px;
    font-weight: 700;
}

.details-michelle .footer-date {
    color: var(--grayish-blue);
    color: hsl(212, 23%, 69%);
    font-size: 11px;
    line-height: 1.5;

    margin-top: 3px;
}

.footer-share {
    margin-top: 20px;
}

.footer-share #footer-share-border {
    margin: 0;
    background: var(--light-grayish-blue);
    background: hsl(210, 46%, 95%);
    height: 30px;
    width: 30px;

    /* To center the icon */
    display: flex;
    justify-content: center;

    border-radius: 50px;
    
    cursor: pointer;
}

/* So the icon keeps its original size */
.footer-share #footer-share-border #share-black {

    /* Initially the black search icon should appear */
    display: block;
    margin: auto;
}

.footer-share #footer-share-border #share-white {

    /* Initially the white search icon should not appear */
    display: none;
    margin: auto;
}

.footer-share #share-box {
    position: absolute;

    right: -170px;
    top: 55%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    width: 230px;
    height: 45px;
    /* display: flex; */
    flex-direction: row;
    justify-content: center;
    background: var( --very-dark-grayish-blue);
    background: hsl(217, 19%, 35%);
    border-radius: 8px;

    justify-content: center;
    align-items: center;

    /* box-shadow: 0 6px 2px -2px var(--ligher-grayish-blue); */
    box-shadow: 0px 15px 10px -15px var(--ligher-grayish-blue);
    box-shadow: 0px 15px 10px -15px hsl(212, 27%, 81%);

    display: none;
}

/* Box's triangle*/
.footer-share #share-box:before {
    content: "";
    position: absolute;

    bottom: -14px;
    
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid var( --very-dark-grayish-blue);   
    border-top: 15px solid hsl(217, 19%, 35%);

}

.footer-share #share-box p {
    color: var(--grayish-blue);
    color: hsl(212, 23%, 69%);
    letter-spacing: 4px;

    font-size: 10px; ;

    margin-right: 15px;
}

.footer-share #share-box i {
    font-size: 20px;
    cursor: pointer;

    margin-right: 15px;
}

.footer-share #share-box p {
    margin-left: 15px;
}

.fa-facebook-square, .fa-twitter, .fa-pinterest{
    color: white;
}


/* Add colours when you hover the icons */
.fa-facebook-square:hover {
    color: #4267B2;
    background: white;
    border: 1px solid white;
    border-radius: 2px;
}

.fa-twitter:hover {
    color: #1DA1F2;
    background: white;
    border: 1px solid white;
    border-radius: 2px;
}

.fa-pinterest:hover {
    color: #C8232C;
    background: white;
    border: 1px solid white;
    border-radius: 2px;
}

/* Tablet Version */
@media (max-width: 968px)
{
    .footer-share #share-box {
        right: -18vw;
        top: 55%;
        width: 25vw;
        height: 45px;
    }
}

@media (max-width: 870px) {
    .wrapper {
        /* height: 35vh; */

        width: 85vw;
        height: 280px;
    }

    .wrapper .right .header {
        font-size: 1.2em;
    
        margin-bottom: 10px;
    }

    .wrapper .right .description { 
        font-size: 0.65em;
        font-weight: 500;
        line-height: 1.5;
    }

    footer .footer-info {
        margin-top: 30px;
    }

    .footer-share #share-box {
        right: -19vw;
        top: 55%;
        width: 26vw;
        height: 45px;
    }

    .footer-share {
        margin-top: 30px;
    }
}

@media (max-width: 836px) {
    .footer-share #share-box {
        right: -18.5vw;
        top: 55%;
    }
}

@media (max-width: 749px) {

    .wrapper .right .header {
        font-size: 1em;
        margin-bottom: 10px;
    }

    .wrapper .right .description { 
        font-size: 0.65em;
        font-weight: 500;
        line-height: 1.5;
    }

    footer .footer-info {
        margin-top: 40px;
    }

    .footer-share {
        margin-top: 40px;
    }
}

/* Mobile version */
@media(max-width: 645px)
{
    .description {
        height: 15vh;
    }

    .footer-share #share-box i {
        font-size: 22px;
        margin-right: 20px;
    }
    
    .wrapper {
        width: 90vw;
        height: 75vh;
        display: flex;
        flex-direction: column;
    }

    .wrapper .left {
        border-bottom-left-radius: 0px;
        border-top-right-radius: 10px;

        flex: 4;
    }

    .wrapper .left #drawers-pic {
        width: 100%;
        object-fit: cover;
    }

    .wrapper .right {
        margin-top: 20px;
    }
    
    footer {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    
    .wrapper .right .header {
        font-size: 1.3em;
    }

    .wrapper .right .description { 
        font-size: 0.85em;
    }

    footer .footer-info {
        margin-top: 0px;
    }
    
    footer {
        position: absolute;

        bottom: 0;
        left: 0;

        width: 100%;

        margin-top: 0.5em;
        padding-top: 0.5em;
        padding-bottom: 1em;

        background: white;

        padding-left: 35px;
        padding-right: 65px;
    }

    .footer-share {
        margin-top: 10px;
    }

        
    .footer-share #share-box {
        position: absolute;

        bottom: 0;
        left: 50%;

        width: 100%;
        height: 100%;

        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;

        padding-left: 35px;
        justify-content: left;

        display: none;

        z-index: 1;
    }

    /* Box's triangle*/
    .footer-share #share-box:before {
        content: "";
        position: absolute;

        display: none;
    }

    .footer-share #footer-share-border {
        position: absolute;
        z-index: 2;
    }

}

/* Iphone 6/7/8 Plus */
@media (max-width: 415px) {

    .wrapper .right {
        margin-right: 30px;
        margin-left: 30px;
    }

    .details-michelle .footer-date {
        margin-top: 0px;
    }

    .wrapper .right .header {
        font-size:  1.15em;
    }

    .wrapper .right .description { 
        font-size: 0.75em;
    }
}

@media (max-width: 412px) {

    .wrapper .right .header {
        font-size:  1.2em;
    }

    .wrapper .right .description { 
        font-size: 0.75em;
    }
}

@media (max-width: 400px)
{
    .wrapper .left {
        flex: 4;
    }
    .wrapper .right .header {
        font-size:  0.9em;
    }

    .wrapper .right .description { 
        font-size: 0.75em;
    }

    footer {
        position: absolute;

        bottom: 0;
        left: 0;

        width: 100%;

        margin-top: 0.5em;
        padding-top: 1em;
        padding-bottom: 1.5em;

        background: white;

        padding-left: 35px;
        padding-right: 65px;
    }
}

@media (max-width: 376px) {


    footer {
        margin-top: 0.5em;
        padding-top: 0.5em;
        padding-bottom: 1em;
    }
}

@media (max-width: 321px) {

    .footer-share #share-box i {
        font-size: 16px;
        cursor: pointer;
    
        margin-right: 15px;
    }

    .wrapper .right .header {
        font-size:  0.85em;
    }

    .wrapper .right .description { 
        font-size: 0.6em;
    }

    footer {

        margin-top: 0.3em;
        padding-top: 0.3em;
        padding-bottom: 0.6em;
    }
}